body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    color: darkorange;
}

.board {
  padding: 10px;
}

.row {
  display: flex;
}


